* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #016d71;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.input_error {
  outline-color: #91332d !important;
  border-color: #91332d !important;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 1px solid #9a9a9a;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #575757;
}

input[type="checkbox"]:checked {
  color: #575757;
  border: 1px solid #575757;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}

main {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
}

.card {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0.5px 4px 0px #1f2c3f0d;
  margin-top: 0px;
}

.forgot_password_card,
.password_reset,
.prr_wrapper,
.forgot_password_success,
.pass_reset_success,
.email_sent,
.verify_success,
.verify_failure {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.fp_heading,
.pr_heading,
.prr_heading,
.prs_heading,
.es_heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  gap: 24px;
}

.pr_heading {
  gap: 0px;
}

.fp_heading h1,
.pr_heading h1,
.prr_heading h1,
.prs_heading h1,
.es_heading h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: #232323;
}

.pr_heading h1 {
  margin-bottom: 24px;
  font-weight: 600;
}

.prs_heading h1 {
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.fp_heading p,
.pr_heading p,
.prr_heading p,
.prs_heading p,
.es_heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #353535;
}

.es_heading p {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.pr_heading p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
}

.pr_heading span,
.es_heading p span {
  color: #016d71;
}

.es_heading .second_p {
  display: none;
}
.pp {
  display: none !important;
}

.cancel_btn {
  margin-top: 15px;
}

#prs_btn,
#vs_btn,
#vf_btn {
  width: 80%;
}

section {
  display: flex;
}

.hidden_logo {
  display: none;
}

.image_section {
  width: 50%;
  height: 100vh;
  background-image: url(../images/loginhero.png);
  background: linear-gradient(180deg, #016d71 0%, rgba(217, 217, 217, 0) 100%),
    url(../images/loginhero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup_image_section {
  width: 50%;
  height: 100vh;
  background-image: url(../images/authero.png);
  background: linear-gradient(180deg, #016d71 0%, rgba(217, 217, 217, 0) 100%),
    url(../images/authero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image_section div,
.signup_image_section div {
  margin: 30px 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.image_section h1,
.signup_image_section h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
}

.image_section p,
.signup_image_section p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.form_section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.form_wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_wrapper span {
  display: flex;
  flex-direction: column;
}

.form_wrapper span h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #232323;
}

.form_wrapper span p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #353535;
}

.fp_form {
  width: 100%;
}

.form_wrapper form .input,
.fp_form .input,
.prr_form .input {
  margin-bottom: 20px;
}

.form_wrapper form .form-label,
.fp_form .form-label,
.prr_form .form-label {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #353535;
  margin-bottom: 10px;
}

.form_wrapper form .form-label i,
.prr_form .form-label i {
  font-size: 9px;
  color: #91332d;
}

.form_wrapper form .form-control,
.fp_form .form-control,
.prr_form .form-control {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #bcbcbc;
  background: #ffffff;
  width: 100%;
  outline-color: #016d71;
  font-size: 20px;
  margin-bottom: 7px;
}

.phone-input {
  background: transparent;
}

.phone-input input::placeholder {
  visibility: hidden;
  opacity: 0;
}

.iti--allow-dropdown input.iti__tel-input,
.iti--allow-dropdown input.iti__tel-input[type="text"],
.iti--allow-dropdown input.iti__tel-input[type="tel"],
.iti--show-selected-dial-code input.iti__tel-input,
.iti--show-selected-dial-code input.iti__tel-input[type="text"],
.iti--show-selected-dial-code input.iti__tel-input[type="tel"] {
  padding-left: 80px;
  margin-left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #bcbcbc;
  background: #ffffff;
  outline-color: #016d71;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 7px !important;
}

.iti__selected-flag {
  height: 90%;
  padding: 0 20px;
}

.iti__search-input {
  outline-color: #016d71;
}

.form-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #91332d;
}

.password_msg {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #91332d;
}

.prr_form .password_msg {
  display: flex;
  flex-direction: column;
}

.success {
  color: #3d7d50 !important;
}

.error {
  color: #a20111 !important;
}

#eyeIcon,
#confirmEyeIcon {
  position: relative;
  float: right;
  left: -1rem;
  top: -2.3rem;
  color: #bcbcbc;
  cursor: pointer;
}

.form_wrapper form .form_check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
  margin-bottom: 10px;
  gap: 8px;
}
.form-check-input {
  border-color: #016d71;
  cursor: pointer;
}

.terms-check {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.terms-check label {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #575757;
}

.terms-check label a {
  color: #016d71;
  margin: 0px 5px;
}

.form_wrapper form .form_check div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  padding: 10px 16px;
  border-radius: 12px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-primary {
  border: 2px solid #016d71;
  background: #016d71;
  color: #cce6e7;
  display: flex;
  justify-content: center;
}

.btn:hover,
.btn:active {
  background-color: #016d7150;
  color: #016d71;
}

.btn-secondary {
  background: transparent;
  color: #016d71;
  border: 2px solid #016d71;
}

.password_form .btn {
  margin: 20px 0px;
}

.to_signup {
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.to_signin {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.verify_code_form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.verify_code_form .input_box_field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.verify_code_form .input_box_field input {
  padding: 16px;
  border: 1px solid #bcbcbc;
  background: transparent;
  height: 60px;
  width: 60px;
  border-radius: 6px;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: #353535;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.verify_code_form .input_box_field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.verify_code_form .input_box_field input::-webkit-inner-spin-button,
.verify_code_form .input_box_field input::-webkit-outer-spin-button {
  display: none;
}

/* Spinner */
.spinner {
  width: 20%;
  position: relative;
  animation: spin 3s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 4px solid #cce6e7;
  border-top: 4px solid #016d71;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinRing 1.5s ease-out infinite;
}

.spinner::before {
  filter: blur(10px);
}

.feedback_modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: transparent;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 10;
  transition: all 0.5s ease-out;
  font-family: "Poppins", sans-serif;
}

.feedback_modal span {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  gap: 12px;
}

.feedback_modal .success {
  background: #def2e4;
  border: 1px solid #3d7d50;
}

.feedback_modal .error {
  background: #f8dbd9;
  border: 1px solid #91332d;
}

@keyframes spinRing {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .hidden_logo {
    display: block;
    padding: 10px;
    box-shadow: 1px 2px 4px 0px #0000000f;
  }
  .image_section,
  .signup_image_section {
    display: none;
  }
  .form_section {
    width: 100%;
    background: #fff;
  }
  .form_wrapper {
    width: 90%;
    margin-top: 20px;
  }
  .form_wrapper span {
    margin-bottom: 20px;
  }
  .form_wrapper span h1 {
    font-size: 16px;
    line-height: 24px;
  }
  .form_wrapper span p {
    font-size: 14px;
    line-height: 22px;
  }
  .form_wrapper form .form_check {
    margin-bottom: 35px;
  }
  .to_signup {
    font-size: 14px;
    line-height: 22px;
  }

  input[type="checkbox"] {
    border: 2px solid #323232;
  }

  .terms-check input {
    width: 35px;
    height: 22px;
  }

  .form_wrapper form .form_check label {
    color: #787878;
  }

  .terms-check label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #353535;
  }

  header {
    padding: 10px 20px;
  }
  header .logo img {
    width: 146.33px;
    height: 40px;
    top: 8px;
    left: 20px;
    gap: 12px;
  }
  main {
    align-items: normal;
  }
  .card {
    padding: 20px;
    border-radius: 0px;
  }
  .fp_heading {
    margin-bottom: 10px;
    gap: 16px;
  }

  .pr_heading {
    margin-bottom: 25px;
  }
  .prr_heading {
    margin-bottom: 30px;
    padding: 0px;
    align-items: baseline;
    gap: 16px;
  }
  .fp_heading h1,
  .pr_heading h1,
  .es_heading h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .prr_heading h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
  }

  .fp_heading p,
  .pr_heading p,
  .es_heading p {
    font-size: 14px;
    line-height: 22px;
  }

  .es_heading .first_p {
    display: none;
  }

  .es_heading .second_p {
    display: flex;
  }

  .pp {
    display: flex !important;
    margin-top: -20px;
  }

  .prr_heading p {
    font-size: 14px;
    text-align: left;
  }

  .verify_code_form .input_box_field input {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 22px;
    padding: 0px;
  }

  #pr_cont_btn {
    font-size: 14px;
    line-height: 18px;
  }

  #pr_resendBtn,
  #ev_resendBtn {
    font-size: 14px;
    line-height: 18px;
    border: none;
  }

  .pass_reset_success {
    padding-top: 30px;
  }
  .prs_heading h1 {
    text-wrap: balance;
    font-size: 24px;
  }
  .prs_heading p {
    font-size: 14px;
    line-height: 18px;
  }

  #prs_btn,
  #vs_btn,
  #vf_btn {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .feedback_modal {
    width: 95%;
  }
}
