* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #016d71;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.input_error {
  outline-color: #91332d !important;
  border-color: #91332d !important;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}

main {
  background: #f5f5f5;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 500px;
  padding: 40px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0.5px 4px 0px #1f2c3f0d;
  margin-top: 0px;
}

.fp_heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

.fp_heading h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: #232323;
}

.fp_heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #353535;
}

.forgot_password_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cancel_btn {
  margin-top: 15px;
}

section {
  display: flex;
}

.hidden_logo {
  display: none;
}

.image_section {
  width: 50%;
  height: 100vh;
  background-image: url(../images/loginhero.png);
  background: linear-gradient(180deg, #016d71 0%, rgba(217, 217, 217, 0) 100%),
    url(../images/loginhero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup_image_section {
  width: 50%;
  height: 100vh;
  background-image: url(../images/authero.png);
  background: linear-gradient(180deg, #016d71 0%, rgba(217, 217, 217, 0) 100%),
    url(../images/authero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image_section div,
.signup_image_section div {
  margin: 30px 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.image_section h1,
.signup_image_section h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
}

.image_section p,
.signup_image_section p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.form_section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.form_wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_wrapper span {
  display: flex;
  flex-direction: column;
}

.form_wrapper span h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #232323;
}

.form_wrapper span p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #353535;
}

.fp_form {
  width: 100%;
}

.form_wrapper form .input,
.fp_form .input {
  margin-bottom: 20px;
}

.form_wrapper form .form-label,
.fp_form .form-label {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #353535;
  margin-bottom: 10px;
}

.form_wrapper form .form-label i {
  font-size: 9px;
  color: #91332d;
}

.form_wrapper form .form-control,
.fp_form .form-control {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #bcbcbc;
  background: #ffffff;
  width: 100%;
  outline-color: #016d71;
  font-size: 20px;
  margin-bottom: 7px;
}

.phone-input {
  background: transparent;
}

.iti--allow-dropdown input.iti__tel-input,
.iti--allow-dropdown input.iti__tel-input[type="text"],
.iti--allow-dropdown input.iti__tel-input[type="tel"],
.iti--show-selected-dial-code input.iti__tel-input,
.iti--show-selected-dial-code input.iti__tel-input[type="text"],
.iti--show-selected-dial-code input.iti__tel-input[type="tel"] {
  padding-left: 80px;
  margin-left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #bcbcbc;
  background: #ffffff;
  outline-color: #016d71;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 7px !important;
}

.iti__selected-flag {
  height: 90%;
  padding: 0 20px;
}

.iti__search-input {
  outline-color: #016d71;
}

.form-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #91332d;
}

.password_msg {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #91332d;
}

.success {
  color: #3d7d50 !important;
}

.error {
  color: #a20111 !important;
}

#eyeIcon,
#confirmEyeIcon {
  position: relative;
  float: right;
  left: -1rem;
  top: -2.3rem;
  color: #bcbcbc;
  cursor: pointer;
}

.form_wrapper form .form_check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
  margin-bottom: 10px;
}
.form-check-input {
  background-color: #016d71;
  border-color: #016d71;
  cursor: pointer;
}

.terms-check {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.terms-check label {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #575757;
}

.terms-check label a {
  color: #016d71;
  margin: 0px 5px;
}

.form_wrapper form .form_check div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  padding: 10px 16px;
  border-radius: 12px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-primary {
  border: 2px solid #016d71;
  background: #016d71;
  color: #cce6e7;
}

.btn:hover,
.btn:active {
  background-color: #016d7150;
  color: #016d71;
}

.btn-secondary {
  background: transparent;
  color: #016d71;
  border: 2px solid #016d71;
}

.password_form .btn {
  margin: 20px 0px;
}

.to_signup {
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.to_signin {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .hidden_logo {
    display: block;
    padding: 10px;
    box-shadow: 1px 2px 4px 0px #0000000f;
  }
  .image_section,
  .signup_image_section {
    display: none;
  }
  .form_section {
    width: 100%;
    background: #fff;
  }
  .form_wrapper {
    width: 90%;
    margin-top: 20px;
  }
  .form_wrapper span {
    margin-bottom: 20px;
  }
  .form_wrapper span h1 {
    font-size: 16px;
    line-height: 24px;
  }
  .form_wrapper span p {
    font-size: 14px;
    line-height: 22px;
  }
  .form_wrapper form .form_check {
    margin-bottom: 35px;
  }
  .to_signup {
    font-size: 14px;
    line-height: 22px;
  }

  header {
    padding: 10px 20px;
  }
  header .logo img {
    width: 146.33px;
    height: 40px;
    top: 8px;
    left: 20px;
    gap: 12px;
  }
  main {
    align-items: normal;
  }
  .card {
    padding: 20px;
  }
  .fp_heading {
    margin-bottom: 10px;
  }
  .fp_heading h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .fp_heading p {
    font-size: 14px;
    line-height: 22px;
  }
}
