* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

/* Nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #fff;
  height: 96px;
  border-bottom: 1px solid #f5f5f5;
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

header nav ul li {
  text-wrap: nowrap;
}

header nav ul li a {
  color: #232323;
}

header nav ul li a:hover {
  color: #002c2d;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 16px;
  text-wrap: nowrap;
}

.nav_right button {
  padding: 7px 20px;
  background: #002c2d;
  color: #fff;
  border-radius: 6px;
}

.nav_right button a {
  color: #fff;
}

.nav_toggle_btn {
  display: none;
  background: transparent;
}

.line {
  width: 25px;
  height: 3px;
  background: #016d71;
  border-radius: 5px;
  transition: 0.25s ease;
}

.nav_toggle_btn.active .line.top {
  transform: translate(0px, 7px) rotate(50deg);
}

.nav_toggle_btn.active .line.middle {
  transform: rotate(-45deg);
}

.nav_toggle_btn.active .line.bottom {
  transform: translate(-1px, -3px) rotate(45deg);
  display: none;
}

/* Hero */

.hero_section {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.hero_left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 12%;
  padding: 100px 0px 10px 0px;
}
.hero_main_text {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #232323;
  width: 60%;
  margin-bottom: 30px;
}

.hero_sub_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #03796e;
  width: 50%;
  margin-bottom: 20px;
}

.hero_search {
  display: flex;
  align-items: center;
  width: 90%;
  background: #f5f5f560;
  margin-bottom: 20px;
  padding: 20px;
  gap: 40px;
}

.hero_search form {
  display: flex;
  gap: 24px;
}

.hero_search span {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 8px;
  border: 1px solid #bcbcbc;
  gap: 10px;
  background-color: #fff;
}

.hero_search span input {
  border: none;
  padding: 10px;
  outline: #bcbcbc;
}

.middle_line {
  width: 2px;
  height: 30px;
  border: 1px solid #016d71;
  margin-top: 10px;
}

.search_btn {
  padding: 20px;
  border-radius: 2px;
  background-color: #016d71;
  color: #cce6e7;
  border-radius: 12px;
  width: 150px;
}
.filter_btn {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.filter_btn p {
  display: none;
}
.hero_left a {
  color: #016d71;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.signin_btn {
  display: none;
}

/* After Hero */
.after_hero {
  background: #016d71;
  width: 100dvw;
}

.color_lines .orange {
  position: absolute;
  top: 1040px;
  width: 220px;
}
.color_lines .green {
  position: absolute;
  top: 1150px;
}
.after_hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 60px 0px;
}

.after_hero_wrapper img {
  z-index: 1;
}

.aside {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #f5f5f5;
  letter-spacing: 0em;
  text-align: left;
}

.aside_heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.aside_writeup {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats span {
  width: 90%;
}

.stats span h4 {
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  margin-bottom: 10px;
}

.stats p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 80%;
}

/* Properties */
.properties_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 20px;
}

.properties_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.properties_heading h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #232323;
}

.properties_heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #787878;
}

.properties_heading ul {
  display: flex;
  gap: 82px;
  margin: 53px 0px;
}

.properties_heading li {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #bcbcbc;
  padding: 5px;
  cursor: pointer;
}

.properties_heading li.active {
  color: #018388;
  border-bottom: 2px solid #018388;
}

.main-carousel {
  display: flex;
  gap: 32px;
}

.cell {
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0px 1px 4px 0px #0000001a;
  border-radius: 12px;
  gap: 16px;
}

.cell img {
  margin-bottom: 30px;
}

.cell .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #03796e;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.cell .location {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #232323;
}

.cell .price {
  line-height: 24px;
  color: #018388;
  padding: 20px 0px 10px 0px;
}

.cell .price span:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.cell .price span:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}
.cell .price span:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
}

/* Trusted */
.trusted_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px;
  gap: 51px;
}

.trusted_wrapper .left {
  display: flex;
  flex-direction: column;
  gap: 54px;
  text-align: left;
  letter-spacing: 0em;
}

.trusted_wrapper .left h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #232323;
}

.trusted_wrapper .left span,
.exploreBtn {
  display: none;
}

.trusted_wrapper .left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #03796e;
}

.trusted_wrapper .left button {
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  gap: 10px;
  background: #016d71;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #cce6e7;
  width: 180px;
}

.trusted_wrapper .images {
  display: flex;
  gap: 52px;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

/* list your property */
.list_property {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 110px 0px;
}

.list_property_wrapper {
  display: flex;
  border-radius: 20px;
}

.list_property_wrapper img {
  border-radius: 10px 0 0 10px;
}

.list_property_wrapper .right {
  background: #001a1b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
}

.list_property_wrapper .right span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #f5f5f5;
  gap: 15px;
  width: 65%;
}

.list_property_wrapper .right h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.list_property .right p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

.list_property .right button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: #016d71;
  color: #cce6e7;
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  width: 150px;
}

/* Customers */
.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}

.customers_wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 54px;
}

.customers_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  letter-spacing: 0em;
  text-align: left;
}

.customers_heading h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #232323;
}

.customers_heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #03796e;
}

.customers_cards {
  display: flex;
  gap: 10px;
}

.customers_cards .card {
  box-shadow: 0px 4px 4px 0px #0000001a;
  border-radius: 12px;
  padding: 30px 20px;
  width: 286px;
  height: 358px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customers_cards .card .comment {
  height: 170px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #03796e;
}

.customers_cards .card .user_info {
  display: flex;
  justify-content: space-between;
}

.customers_cards .card .stars i {
  color: #e9b226;
}

/* Questions */
.questions {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bcbcbc36;
}

.questions_wrapper {
  display: flex;
  flex-direction: column;
  width: 708px;
  gap: 29px;
  margin: 100px 0px;
}

.questions_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.questions_heading h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #232323;
}

.questions_heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #03796e;
}

.questions_wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 0px 26px 0px;
  gap: 20px;
  border: 2px solid #d7d7d766;
  letter-spacing: 0em;
  text-align: left;
  color: #03796e;
  cursor: pointer;
}

.questions_wrapper span p {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.questions_wrapper span i {
  font-weight: 900;
  font-size: 25px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 0px 0px;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
}

.footer_top {
  display: flex;
  gap: 148px;
  padding-bottom: 50px;
  border-bottom: 1px solid #d7d7d7;
}

.footer_top span {
  display: flex;
  flex-direction: column;
  gap: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.footer_top span h2 {
  text-wrap: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #232323;
}

.footer_top span p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #232323;
  opacity: 0.75px;
}

.footer_top span input {
  width: 310px;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #bcbcbc;
  outline-color: #016d71;
}

.footer_top span button {
  width: 178px;
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  color: #cce6e7;
  background: #016d71;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 50px 0px;
}

.footer_bottom ul {
  display: flex;
}

.footer_bottom ul li {
  cursor: pointer;
}
.footer_bottom .terms {
  gap: 56px;
}

.footer_bottom .socials {
  gap: 8px;
}

/* Profile.html */
.user_profile_container {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  padding: 70px;
}

.navigation .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.navigation .breadcrumb li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #03796e;
}

.user_profile_container .main_content {
  display: flex;
  gap: 64px;
}

.user_profile_container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 305px;
  height: 312px;
  padding: 24px 40px;
  gap: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 10px 0px #0000001a;
}

.user_profile_container .left span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.user_profile_container .left span h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #232323;
}

.user_profile_container .left span p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #353535;
}

.user_profile_container .right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user_profile_container .right .cards {
  display: flex;
  gap: 20px;
}

.user_profile_container .right .cards span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 280px;
  height: 144px;
  padding: 40px 24px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #0000001a;
}

.user_profile_container .right .cards span p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #03796e;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    padding: 10px 20px;
  }
  header .logo img {
    width: 146.33px;
    height: 40px;
    top: 8px;
    left: 20px;
    gap: 12px;
  }
  header nav {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: #fff;
    padding-inline: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.25s ease;
  }
  header nav.active {
    height: 220px;
    visibility: visible;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px 0px 0px;
  }
  header nav ul li {
    margin-bottom: 10px;
  }
  .nav_right {
    display: none;
  }
  .nav_toggle_btn {
    display: grid;
    gap: 4px;
  }
  .hero_section {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0;
  }
  .hero_search {
    width: 100%;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
    gap: 20px;
  }
  .hero_search form {
    flex-direction: column;
  }
  .hero_img img {
    width: 100%;
    height: 400px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .hero_main_text {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    width: 100%;
  }
  .hero_left {
    padding: 60px 10px 10px 10px;
    margin-left: 0px;
  }
  .middle_line {
    display: none;
  }
  .hero_sub_text {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #575757;
  }
  .search_btn {
    width: 100%;
  }
  .hero_search span {
    padding: 5px 10px;
    width: 100%;
  }
  .hero_search span input {
    width: 100%;
  }

  .filter_btn {
    padding: 13px;
  }
  .filter_btn p {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #016d71;
  }
  .search_calendar {
    display: flex;
    justify-content: space-between;
  }
  .hero_left a {
    display: none;
  }
  .signin_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    background: #1c2b40;
    color: #d7d7d7;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
  }

  .after_hero {
    width: 100%;
  }

  .after_hero_wrapper {
    padding: 60px 30px;
  }
  .after_hero img {
    display: none;
  }

  .aside {
    width: 100%;
  }

  .aside_heading {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #fff;
  }
  .aside_writeup {
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    font-weight: lighter;
  }
  .stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .stats span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats span h4 {
    font-size: 32px;
    line-height: 44px;
    text-align: left;
  }

  .stats p {
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 30%;
    font-weight: 200;
  }

  .properties {
    padding: 0px 10px;
  }
  .properties_wrapper {
    margin: 50px 0px;
    padding: 10px;
    width: 100%;
  }

  .properties_heading {
    width: 100%;
  }

  .properties_heading h1 {
    font-size: 28px;
    line-height: 40px;
    color: #000000;
  }

  .properties_heading p {
    font-size: 16px;
    line-height: 22px;
    color: #575757;
  }

  .properties_heading ul {
    margin: 25px 0px;
    gap: 50px;
  }

  .properties_heading li {
    font-weight: 600;
    line-height: 22px;
    text-wrap: nowrap;
  }
  .properties_heading li.active {
    border: none;
  }
  .main-carousel {
    flex-direction: column;
  }
  .cell {
    width: 100%;
  }
  .cell img {
    width: 340px;
  }

  .trusted_wrapper {
    flex-direction: column;
    margin: auto;
    background: #d7d7d710;
    padding: 50px 0px;
  }

  .trusted_wrapper .left {
    width: 85%;
    gap: 20px;
  }

  .trusted_wrapper .left h2 {
    font-size: 32px;
    color: #000000;
  }
  .trusted_wrapper .left span {
    display: block;
    font-size: 16px;
    color: #575757;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .trusted_wrapper .left p {
    display: none;
  }
  .trusted_wrapper .left button {
    display: none;
  }
  .exploreBtn {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    background: #016d71;
    color: #cce6e7;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .trusted_wrapper .images {
    flex-direction: column;
  }
  .trusted_wrapper .images img:nth-child(1) {
    display: none;
  }
  .list_property {
    margin: auto;
  }
  .list_property_wrapper {
    flex-direction: column;
    padding: 50px 15px;
    width: 100%;
  }
  .list_property_wrapper img {
    border-radius: 20px 20px 0 0px;
  }
  .list_property_wrapper .right {
    padding: 20px 0px;
    border-radius: 0 0px 20px 20px;
  }

  .list_property_wrapper .right span {
    width: 80%;
  }

  .list_property_wrapper .right h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #fff;
  }
  .list_property .right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
  }
  .list_property .right button {
    margin: auto;
  }

  .customers {
    background: #fbfbfb;
    padding: 50px 15px;
    margin-bottom: 0px;
  }

  .customers_wrapper {
    width: 100%;
  }

  .customers_heading h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #000000;
  }
  .customers_heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #575757;
    text-align: center;
  }
  .customers_cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .customers_cards .card {
    width: 100%;
    background: #ffffff;
  }
  .customers_cards .card .comment {
    line-height: 25px;
    color: #353535;
  }
  .questions {
    border: none;
    padding: 50px 15px;
  }
  .questions_wrapper {
    margin: 0px;
  }
  .questions_heading h1 {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }
  .questions_heading p {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #575757;
  }

  .questions_wrapper span {
    border: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-shadow: 0px 2px 2px 0px #00000040;
    border-radius: 20px;
    padding: 20px 10px;
    background: #fbfbfb;
  }

  .questions_wrapper span p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #232323;
  }

  footer {
    padding: 40px 20px 32px 20px;
    border-top: 1px solid #d7d7d7;
    background: #d7d7d710;
    gap: 8px;
    margin: auto;
  }
  .footer_top {
    flex-direction: column;
    gap: 40px;
  }

  .footer_top span:nth-child(4) {
    order: -1;
  }
  .footer_top span button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
  }

  .footer_bottom {
    flex-direction: column;
    align-items: baseline;
    margin: 30px 0px 20px 0px;
    gap: 24px;
  }
  .footer_bottom .terms {
    flex-direction: column;
    gap: 24px;
    color: #232323;
  }
}
